---
const { platform, username, icon, altImg } = Astro.props;
---
<a href={`https://www.${platform}.com/${username}`}><img class="social" src={icon.src} width="32" height="32" alt={altImg} /></a>

<style>
    .social img svg{
        fill: rgb(233, 19, 19);
    }
</style>

